# Node modules
node_modules/

# Build output
dist/
build/
firebase-adminsdk.json
firebase-adminsdk3.json

# Logs
logs/
*.log

# Environment variables
.env

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db
